@import './variables';

@mixin loading {
  .loading {
    font-style: italic;
    margin: 0;

    &-container {
      display: flex;
      gap: 10px;
    }

    &-slider {
      position: absolute;
      display: block;
      animation: 0.7s ease-in-out infinite alternate slide;

      &-container {
        position: relative;
        flex: 0 0 2em;
      }
    }
  }
}

@mixin error {
  .error {
    color: $error;

    &::before {
      content: '\26a0';
      margin-right: 0.5em;
    }
  }
}

@mixin warning {
  .warning {
    color: $warning;

    &::before {
      content: '\26a0';
      margin-right: 0.5em;
    }
  }
}

@mixin info {
  .info {
    color: $info;

    &::before {
      content: '\2139';
      margin-right: 0.5em;
    }
  }
}

@mixin valid {
  .valid {
    color: $ok;

    &::before {
      content: '\1f44d';
      margin-right: 0.5em;
    }
  }
}

@mixin remove {
  .remove {
    color: $error;

    &:hover {
      color: color-mod($error lightness(-20%));
    }
  }
}

@keyframes slide {
  0% {
    left: 0;
  }

  100% {
    left: 1em;
  }
}